body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.navbar{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 20px 0px;
}
.titel{
    color: white;
}
.git{
    color: white;
    text-decoration: none;
}
.main_box{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 40px 20px;
    width: 30vw;
    border-radius: 20px;
    background-color: rgb(255, 255, 94);
}
.output{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px;
    padding: 50px;
    width: 60vw;
    border-radius: 15px;
}

button{
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: yellow;
}

.img{
    margin: 20px;
}

.text{
    color: pink;
    font-size: 100px;
    
}